In [1]:
import pandas as pd

In [48]:
food_desert_file = pd.read_csv('food_access_research_atlas.csv')
desert_df = pd.DataFrame(food_desert_file, columns=['State', 'County', 'POP2010', 'LAPOP1_10', 'LALOWI1_10'])
                                                   
grouped_df = desert_df.groupby(['State', 'County'])
grouped_sum = grouped_df.sum().reset_index()

grouped_renamed = grouped_sum.rename(columns={'POP2010': '2010_Population', 'LAPOP1_10': 'Food_Desert_Population', 
                                   'LALOWI1_10': 'Food_Desert_Low_Income'}).round(0)
renamed_df = name.astype({'2010_Population': 'int32', 'Food_Desert_Population': 'int32', 'Food_Desert_Low_Income': 'int32'})
renamed_df

,State,County,2010_Population,Food_Desert_Population,Food_Desert_Low_Income
0,Alabama,Autauga,54571,18093,6836
1,Alabama,Baldwin,182265,46400,15460
2,Alabama,Barbour,27457,6684,3251
3,Alabama,Bibb,22915,296,165
4,Alabama,Blount,57322,5856,2571
...,...,...,...,...,...
3136,Wyoming,Sweetwater,43806,9400,1816
3137,Wyoming,Teton,21294,3711,973
3138,Wyoming,Uinta,21118,759,319
3139,Wyoming,Washakie,8533,1057,360
3140,Wyoming,Weston,7208,2226,676