In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath in a variable
file_one = "resources/food_access_variable_lookup.csv"

In [3]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
df = pd.read_csv(file_one)

In [14]:
# Cleaning/Insightful panda code
# df.head()
# df.info()
# df.describe()
# df.columns()
# list(df.columns.values)
# df.dtypes()

column_list = list(df.columns.values)
column_list

#columns chosen from large dataset
rows = ['State', 'County', 'LALOWI1_10', 'LAPOP1_10', 'POP2010']

filtered_df = df[df['Field'].isin(rows)]
finished_df = filtered_df.reset_index() #reset index
del finished_df['index'] #dropped additional index column

#VALUE UPDATES
# 'POP2010' to '2010_Population' 
# 'LAPOP1_10' to 'Food_Desert_Population'
# 'LALOWI1_10' to 'Food_Desert_Low_Income'

finished_df['Field'] = finished_df['Field'].map({'State': 'State', 'County': 'County',\
                                                 'POP2010': '2010_Population', 'LAPOP1_10': 'Food_Desert_Population',\
                                                 'LALOWI1_10': 'Food_Desert_Low_Income'})
finished_df

,Field,LongName,Description
0,State,State,State name
1,County,County,County name
2,2010_Population,"Population, tract total",Population count from 2010 census
3,Food_Desert_Population,"Low access, population at 1 mile for urban are...",Population count beyond 1 mile for urban areas...
4,Food_Desert_Low_Income,"Low access, low-income population at 1 mile fo...",Low income population count beyond 1 mile for ...

In [15]:
# Export file as a CSV, without the Pandas index, but with the header
finished_df.to_csv("resources/food_desert_variables.csv", index=False, header=True)

In [3]:
#Cleaning and trimming down the food desert dataset

food_desert_file = pd.read_csv('resources/food_access_research_atlas.csv')
desert_df = pd.DataFrame(food_desert_file, columns=['State', 'County', 'POP2010', 'LAPOP1_10', 'LALOWI1_10'])
                                                   
grouped_df = desert_df.groupby(['State', 'County'])
grouped_sum = grouped_df.sum().reset_index()

renamed_df = grouped_sum.rename(columns={'POP2010': '2010_Population', 'LAPOP1_10': 'Food_Desert_Population', 
                                   'LALOWI1_10': 'Food_Desert_Low_Income'}).round(0)
cleaned_df = renamed_df.astype({'2010_Population': 'int32', 'Food_Desert_Population': 'int32', 'Food_Desert_Low_Income': 'int32'})
cleaned_df

,State,County,2010_Population,Food_Desert_Population,Food_Desert_Low_Income
0,Alabama,Autauga,54571,18093,6836
1,Alabama,Baldwin,182265,46400,15460
2,Alabama,Barbour,27457,6684,3251
3,Alabama,Bibb,22915,296,165
4,Alabama,Blount,57322,5856,2571
...,...,...,...,...,...
3136,Wyoming,Sweetwater,43806,9400,1816
3137,Wyoming,Teton,21294,3711,973
3138,Wyoming,Uinta,21118,759,319
3139,Wyoming,Washakie,8533,1057,360
3140,Wyoming,Weston,7208,2226,676

In [4]:
# Export file as a CSV, without the Pandas index, but with the header
cleaned_df.to_csv("resources/food_desert_dataset.csv", index=False, header=True)